.buildpath
/.htaccess
.project
.settings
.idea
.svn
.DS_Store
.sass-cache
config.codekit
*.sublime-project
*.sublime-workspace
robots.txt
sitemap.xml
cache/cachefs/*
!cache/cachefs/index.php
download/*
!download/index.php
upload/*
!upload/index.php
admin9768/autoupgrade/*
admin9768/backups/*
!admin9768/backups/index.php
cache/smarty/cache/*
!cache/smarty/cache/index.php
cache/smarty/compile/*
!cache/smarty/compile/index.php
cache/class_index.php
cache/tcpdf/*
!cache/tcpdf/index.php
config/xml/*.xml
config/settings.inc.php
config/settings.old.php
log/*.log
img/*
!img/index.php
!img/*/index.php
tools/smarty*/cache/*.php
!tools/smarty*/cache/index.php
tools/smarty*/compile/*.php
!tools/smarty*/compile/index.php
#override/classes/*.php
/themes/*/cache/*.js
/themes/*/cache/*.css
/themes/*/modules/*/*.php
!/themes/*/modules/*/index.php
/themes/*/lang/*.php
!/themes/*/lang/index.php
/themes/*/modules/*/translations/*.php
!/themes/*/modules/*/translations/index.php
/modules/*/translations/*.php
!/modules/*/translations/index.php
#mails/*
#!mails/en
#modules/*/mails/*
#!modules/*/mails/en
#translations/*
#!translations/*.gzip
 
admin9768/themes/default/bower_components
 
# ignore module config files
modules/*/config.xml
# ignore language specific module config files
modules/*/config_*.xml