@font-face {
    font-family: 'main-condensed';
    src: url('../font/main-condensed-webfont.eot');
    src: url('../font/main-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/main-condensed-webfont.woff') format('woff'),
         url('../font/main-condensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext);

header{
	/*background: #41444e;*/
	background: url(../img/evlasy/top-baner-2.jpg) center top;
	background-repeat: no-repeat;
	background-size: cover;
	/*height: 586px;*/
}

header .nav{
	background: transparent;
}

header#header{
	font-family: main-condensed;
	margin-bottom: 55px;
}

.header_user_info {
border-left: none;
border-right: none;
}

.header_user_info a:hover, .header_user_info a.active {
background: transparent;
color: #e5e5e3;
}

.sf-menu {
position: relative;
padding: 0;
width: 100%;
border-bottom: none;
background: transparent;
font-family: main-condensed;
color: white
}

.sf-menu > li > ul > li {
width: 50%;
}

.sf-menu > li {
border-right: none;
}

.sf-menu > li > ul {
width: 970px;
}

.sf-menu > li > a {
padding: 10px 20px;
font-family: main-condensed;
color: white;
font-size: 1.25em;
border-bottom: none;
}

.sf-menu > li.sfHover > a, .sf-menu > li > a:hover, .sf-menu > li.sfHoverForce > a {
background: transparent;
color: white;
border-bottom: 3px solid white;
}

.sf-menu li ul {
display: none;
top: 55px;
}

#block_top_menu {
padding-top: 45px;
}

#search_block_top {
padding-top: 45px;
width: 260px;
}

#search_block_top #search_query_top {
display: inline;
padding: 0 13px;
height: 45px;
line-height: 45px;
background: transparent;
margin-right: 1px;
border: 2px solid white;
color: white;
}

#search_block_top .btn.button-search {
background: transparent;
}
#header_logo{
	margin-bottom: 20px
}

#header .shopping_cart {
	padding-top: 45px;
	width: 210px;
}

.shopping_cart > a:first-child:before {
color: #1b1c20;
}

.shopping_cart > a:first-child b {
	font-family: main-condensed;
	color: #1b1c20;
	text-transform: uppercase;
}

.ajax_cart_quantity, .ajax_cart_product_txt{
	font-family: main-condensed;
	color: #7b7d84;
	
}

#header .shopping_cart > a:first-child:after {
	color: #1b1c20;
}

.shopping_cart > a:first-child {
	padding: 11px 10px 10px 16px;
	background: white;
	text-shadow: none;
	
}

#header .cart_block {
	top: 95px;
	box-shadow: 0px 1px 10px #40434d;
}

.submenu-container .category-heading {
float: left;
height: 177px;
background: #2e2f38;
color: white;
margin-top: 12px;
position: relative;
z-index: 9999;
}

a.category-heading {
display: table;
}

.submenu-container .category-heading span {
-webkit-transform: rotate(-90deg); 
-moz-transform: rotate(-90deg);	
transform: rotate(-90deg);	
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-1);
display: block;
font-style: bold;
display: table-cell;
vertical-align: middle;
}

li.menu-item {
width: 161px;
float: left;
border: 1px solid #e2e2e0;
margin-left: 15px;
}

/*.podla-seba li a {
width: 28px;
height: 54px;
}*/

.clip-in-podla-seba li.menu-item a{
	display: inline-block;
	float: left;
	width: 864px;
	height: 62px;
}

.clip-in-podla-seba a.category-heading {
width: 28px;
height: 54px;
text-indent: -99999px;
position: relative;
}

.clip-in-podla-seba a.category-heading span {
width: 28px;
height: 54px;
text-indent: -99999px;
background: url(../img/evlasy/custom.png);
display: block;
position: absolute;
top: 0;
left: 0;
background-repeat: no-repeat;
background-position: 2px 13px;
}

.clip-in-podla-seba li.menu-item {
background: url(../img/evlasy/custom-baner.jpg);
background-repeat: no-repeat;
width: 865px;
height: 54px;
}

#homepage-slider h2{
	text-align: center;
font-weight: 100;
font-size: 40px;
margin-bottom: 70px;
font-family: 'PT Sans', sans-serif;
color: #1b1c20;
}

#homepage-slider h2 span{
font-size: 30px;	
}

.fa {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.fa-shopping-cart:before {
content: "\f07a";
}

ul.product_list.grid > li .product-container .product-image-container .content_price span {
font-family: PT sans !important;
font-weight: normal;
}


span.line{
	clear: both;
border-bottom: 2px solid #1b1c20;
display: block;
width: 50px;
margin: 20px auto;
}

.footer-container {
background: url(../img/footer-bg.png) repeat-x #333333;
background-color: #1b1c20;
}

.footer-container #footer .bottom-footer {
color: white;
text-align: center;
padding:45px 0 0 0;
}

.bottom-footer img{
	margin-left: 10px
}

.footer-container #footer .bottom-footer div {
padding: 30px 0 0 0;
}


.footer-container #footer .bottom-footer {
bottom: -70px;
}

li.htmlcontent-item-1{
	width: 100%
}


.comments_advices {
margin-bottom: 0px;
}

h1.page-heading.product-listing {
font-family: PT sans !important;
font-weight: 200;
font-size: 19px;
}

/*======================================== SLIDER ================================================*/

/*======================================== ====== ================================================*/

#slider-with-blocks-1 {
margin-top: -178px;
	z-index: -1;
  width: 100%;
  height: 600px;
  position: absolute;
  top: -5px;
}

.rsContent {
  color: #FFF;
  font-size: 24px;
  line-height: 32px;
  float: left;
}
.bContainer {
  position: relative;
}
.rsABlock {
  position: relative;
  display: block;
  left: auto;
  top: auto;
}
.blockHeadline {
  font-size: 42px;
  line-height: 50px;
}
.blockSubHeadline {
  font-size: 32px;
  line-height: 40px
}
.txtCent {
  text-align: center; 
  width: 100%; 
}

.slide1 {
  background: url(../img/evlasy/top-baner.jpg);
  background-size: cover;
  background-position: bottom center;
}

.slide1 .bContainer {
  top: 36%;
}
.slide2 {
    background: #ffbc11;
    color:#000;
}
.slide2 .bContainer {
  top: 24px;
}
.slide2 .txtCent {
  line-height: 44px;
}
.slide2 .blockHeadline {
   line-height: 66px;
}
.slide3 {
    background: #45aab8;
    color:#FFF;
}
.slide3 .bContainer {
   top: 24px;
}
.slide3 span {
  line-height: 44px;
}
.slide4 .bContainer {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  top: 24px;
}

.photoCopy {
  position: absolute;
  line-height: 24px;
  font-size: 12px;
  background: black;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0px 10px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  top: auto;
  border-radius: 2px;
  z-index: 25;
}
.photoCopy a {
  color: #FFF;
}
.palmImg {
  left: 0;
  top: auto;
  bottom: -60px;
  position: absolute;
}

.vahaProd {
background: red;
color: white;
font-weight: bold;
padding: 3px 6px;
border-radius: 17px;
margin-top: 10px;
position: absolute;
left: 10px;
}

.wrapper-slider{
	position: relative;
	height: 422px;
	z-index: -1;
	
}

.container.icons-baner{
	position: relative;
	top: -10px;
	margin-top: -105px
}

.container.icons-baner img{
	float: right;
	margin-left: 15px;
}

.dlhsie-vlasy{
	padding-left: 221px
}

.plne-objemu{
	padding: 20px 0 0 344px;
}

.ako-nikdy{
	padding: 19px 0 0 540px;
}


@media screen and (min-width: 0px) and (max-width: 960px) { 
  .rsContent {
    font-size: 22px;
    line-height: 28px;
  }
  .blockHeadline {
    font-size: 32px;
    line-height: 32px;
  }
  .blockSubHeadline {
    font-size: 26px;
    line-height: 32px
  }
}
@media screen and (min-width: 0px) and (max-width: 500px) { 
  .royalSlider,
  .rsOverflow {
    height: 330px !important;
  }
  .rsContent {
    font-size: 18px;
    line-height: 26px;
  }
  .blockHeadline {
    font-size: 24px;
    line-height: 32px;
  }
  .blockSubHeadline {
    font-size: 22px;
    line-height: 32px
  }
}


/*======================================== SLIDER ================================================*/

/*======================================== ====== ================================================*/



li.item.ajax_block_product.col-xs-12.col-sm-4.col-md-3.last-in-line.last-item-of-mobile-line {
height: 436px;
}






/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

.sf-menu > li > ul {
width: 786px;
}

#slider-with-blocks-1 {
margin-top: -217px !important;
}

.wrapper-slider {
height: 400px;
}

header {
height: 616px;
}

.shopping_cart b {
	display: none
}

#header .shopping_cart {
width: 165px;
}

li.menu-item {
width: 124px;
}

.submenu-container .category-heading {
height: 139px;
}

.clip-in-podla-seba li.menu-item {
background: url(../img/evlasy/custom-baner-m.jpg);
width: 681px;
height: 54px;
}

.clip-in-podla-seba li.menu-item a {
width: 681px;
}


header {
height: auto;
}

.content_scene_cat_bg{
	min-height: 174px !important;
}


}







/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

header{
	background: #212329;
}

header .row #header_logo{
	padding-top: 0px;
	margin-bottom: -10px;
}

#header_logo{
	width: 100%;
	padding-top: 0px;
	margin-top: -37px;
}

#header_logo img{
	margin: 0 auto;
	width: 100px;
margin-top: 15px;
height: auto;
}

#search_block_top {
width: 230px;
}

#header .shopping_cart {
width: 130px;
}

.ajax_cart_quantity, .ajax_cart_product_txt {
color: white;
position: relative;
background: #ed1b24;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius:10px;
padding: 3px 7px;
top: -3px;
left: -12px;
}

.shopping_cart b, .ajax_cart_no_product {
	display: none
}

.wrapper-slider{
	top: -15px;
}

#slider-with-blocks-1 {
margin-top: -207px !important;
}

.dlhsie-vlasy, .plne-objemu, .ako-nikdy{
	transform: scale(0.7)
}

.container.icons-baner img {
width: 150px;
}

.container.icons-baner {
top: 10px;
}

.slide1 .bContainer {
top: 50% ;
}

.slide1 .bContainer span img {
transform: scale(0.8)
}

.plne-objemu {
padding: 1px 0 0 340px;
}

.ako-nikdy {
padding: 0px 0 0 540px;
}

.wrapper-slider {
height: 393px;
}

.sf-menu > li > ul {
width: 720px;
}

li.menu-item {
width: 116px;
margin-left: 10px;
}

.submenu-container .category-heading {
height: 131px;
}

.clip-in-podla-seba li.menu-item {
background: url(../img/evlasy/custom-baner-s.jpg);
width: 620px;
}

.clip-in-podla-seba li.menu-item a {
width: 620px;
height: 62px;
}


.button.ajax_add_to_cart_button, .button.lnk_view {
width: 150px;
 }
 
.content_scene_cat_bg{
	min-height: 133px !important;
}






}


/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

header{
	background: #212329;
}

.icons-baner {
display: none
}

#search_block_top #search_query_top {
height: 59px;
}

#search_block_top .btn.button-search {
padding: 18px 0 11px 0;
}

#header .shopping_cart {
width: 100%;
}




.wrapper-slider{
	display: none
}

.container.icons-baner img {
width: 33.3%;
margin-left: 0px
}

#search_block_top {
padding-top: 16px;
width: 100%;
margin: 0px 0px 0px 0px;
clear: both;
}

#header .shopping_cart {
padding-top: 15px;
}

.shopping_cart > a:first-child {
padding: 18px 10px 17px 16px;
}

header .row #header_logo {
margin-bottom: 0px;
}

.cat-title {
border: 2px solid white;
padding: 16px 20px;
}

.cat-title:hover {
background: transparent;
border: solid 2px white;
color: white;
}

.content_scene_cat .content_scene_cat_bg{
	min-height: 89px !important;
	background-color: white !important
}


}

/* Landscape phones and smaller */
@media (max-width: 480px) {

.footer-container #footer .bottom-footer div{
	padding: 10px 15px 0px;
}






}

.blockcategories_footer ul ul {
display: block !important;
}



